body{
	font-family: ÇlÇr ÉSÉVÉbÉN;
	font-size:12px;
	color:#5D5D5D;
}
a:VISITED {
	font-family: ÇlÇr ÉSÉVÉbÉN;
	font-size:12px;
	color:#5D5D5D;	
	text-decoration:none;	
}
a:HOVER {
	font-family: ÇlÇr ÉSÉVÉbÉN;
	font-size:12px;
	color:#5D5D5D;	
	text-decoration:none;
}
a:ACTIVE {
	font-family: ÇlÇr ÉSÉVÉbÉN;
	font-size:12px;
	color:#5D5D5D;	
	text-decoration:none;	
}
a:LINK {
	font-family: ÇlÇr ÉSÉVÉbÉN;
	font-size:12px;
	color:#5D5D5D;	
	text-decoration:none;	
}

